body {
  padding: 1em;
}

.App {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: #333;
}

.App-link {
  color: #61dafb;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.guesses {
  text-align: left;
}

.guess span {
  background: #333;
  color: #fff;
  overflow: overlay;
  padding: .5em;
  white-space: nowrap;
}

.guesser {
  display: none;
  border: 1px solid white;
  position: relative;
  width: 100px;
  height: 312px;
}

select, input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: calc(10px + 2vmin);
  width: 100%;
  text-align: center;
  padding: .5em;
}

.wrapper {
  display: flex;
  gap: 2px;
  justify-content: center;
  margin-bottom: 2px;
  width: 100%
}

.book {
  width: 25%;
  text-align: left;
}
.book select {
  text-align: left;
  padding-left: .3em
}
.chapter {
  width: 25%;
}
.chapter select {
  padding-right: .1em;
}
.verse {
  width: 25%;
}
.verse select {
  padding-right: .1em;
}
.button {
  width: 25%;
}

.button a {
  color: #fff;
}

.hidden {
  display: none;
}

.stats {
  margin: 0;
  padding: 0;
}

.stat {
  background: #ccc;
  text-align: right;
  margin-bottom: 2px;
  min-width: 3ch;
  padding: 0 1ch 0 0;
  box-sizing: border-box;
}
